doctype html
html(lang="ko")
    head
        title #{pageTitle} | Wetube
        //-link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/css/uikit.min.css")
        //-script(src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit.min.js")
        //-script(src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit-icons.min.js")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            nav
                ul
                    li
                        a(href="/login") Login
            h1=pageTitle 
        main
            block content 
    include partials/footer.pug
